MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
MONGODB_URI=
VISITOR_HASH_SALT=
RESUME_LINK=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CLIENT_ID=
RESEND_TO_EMAIL=
RESEND_API_KEY=
WAKATIME_API_KEY=